<h1 class="m-6 text-3xl text-gray-600 font-bold text-center">訪問済み場所詳細</h1>

<div id="flash-message">
  <%= render 'shared/flash' %>
</div>

<div class="bg-blue-200 rounded p-8 text-center mx-auto w-1/2">
  <div class="bg-blue-100 m-8 mt-0 pt-8 pb-4">
    <div class="mb-10 text-center mx-auto ml-20 mr-20">
      <p class="block text-gray-700 font-bold mb-2">登録名</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @gone_place.name %></p>
    </div>
    <div class="mb-10 text-center mx-auto ml-20 mr-20">
      <p class="block text-gray-700 font-bold mb-2">レビュー</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @gone_place.review %></p>
    </div>
    <div class="mb-10 text-center mx-auto ml-20 mr-20">
      <p class="block text-gray-700 font-bold mb-2">スコア (1~10点)</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @gone_place.score %></p>
    </div>
    <div class="mb-10 text-center mx-auto ml-20 mr-20">
      <p class="block text-gray-700 font-bold mb-2">カテゴリー</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @gone_place.category.name %></p>
    </div>
  </div>

  <div class="bg-blue-100 m-8 mt-0 pt-8 pb-8">
    <%= render "shared/google_map_info", place: @gone_place %>
    <%= render "shared/place_map", place: @gone_place %>
  </div>

  <div id="show-page-flash-message">
    <%= render 'shared/flash' %>
  </div>

  <p class="block text-gray-700 font-bold mb-2">もう一度行きたい</p>
  <div id="show-page-once-<%= @gone_place.id %>">
    <% if @gone_place.once_again %>
      <%= button_to "解除する", cancel_once_again_path(@gone_place), method: :post, class: "header-btn mr-0", remote: true %>
    <% else %>
      <%= button_to("登録する", once_again_path(@gone_place), method: :post, class: "header-btn mr-0", remote: true) %>
    <% end %>
  </div>

  <div id="modal" x-data="{ open: false }">
    <% if @gone_place.recommend %>
      <div class="m-8 mt-8 pt-8">
        <p class="bg-yellow-200 block text-gray-700 font-bold">おすすめに公開済みです</p>
      </div>
    <% else %>
      <button class="create-btn mt-8" @click="open = true; window.scrollTo({ top: 0, behavior: 'smooth' })">おすすめに公開する</button>
    <% end %>
    <div id="exampleModal" class="absolute top-0 bottom-0 left-0 w-full min-h-screen items-center justify-center bg-black bg-opacity-50 z-50" x-show="open">
      <div class="mt-12 rounded text-center mx-auto w-1/2" @click.away="open = false">
        <div class="bg-gray-100 justify-center mb-32">
          <h3 class="text-2xl font-bold pt-8 pb-8 text-center text-gray-600">おすすめ場所として公開</h3>

          <div class="bg-blue-100 m-8 mt-0 pt-8 pb-4">
            <div class="mb-10 text-center mx-auto ml-20 mr-20">
              <p class="block text-gray-700 font-bold mb-2">登録名</p>
              <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @gone_place.name %></p>
            </div>
            <div class="mb-10 text-center mx-auto ml-20 mr-20">
              <p class="block text-gray-700 font-bold mb-2">レビュー</p>
              <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @gone_place.review %></p>
            </div>
            <div class="mb-10 text-center mx-auto ml-20 mr-20">
              <p class="block text-gray-700 font-bold mb-2">スコア (1~10点)</p>
              <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @gone_place.score %></p>
            </div>
            <div class="mb-10 text-center mx-auto ml-20 mr-20">
              <p class="block text-gray-700 font-bold mb-2">カテゴリー</p>
              <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @gone_place.category.name %></p>
            </div>
          </div>
          <div class="bg-blue-100 m-8 mt-0 pt-8 pb-4">
            <%= render "shared/google_map_info", place: @gone_place %>
          </div>
          <h3 class="text-2xl pb-2 font-bold text-center text-gray-600">入力フォーム</h3>
          <%= form_with model: @recommend_place, class: "bg-blue-100 mr-8 ml-8 mb-0 rounded text-center", local: false do |f| %>
            <div class="mb-10 ml-40 mr-40 text-center mx-auto">
              <%= f.label :recommend_place_name,"登録名", class: "pt-2 block text-gray-700 font-bold mb-2" %>
              <%= f.text_field :recommend_place_name, value: @gone_place.googlemap_name, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
            </div>
            <div class="mb-10 ml-40 mr-40 text-center mx-auto">
              <%= f.label :recommend_comment, "おススメコメント", class: "block text-gray-700 font-bold mb-2" %>
              <%= f.text_field :recommend_comment, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
            </div>

            <div class="comments-error w-full">
              <%= render "shared/error", obj: @recommend_place %>
            </div>

            <div class="ml-40 mr-40 pb-8 text-center">
              <%= f.submit "登録を完了する", class: "w-full bg-blue-500 text-gray-100 hover:bg-blue-700 hover:text-gray-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %>
            </div>
            <%= f.hidden_field :user_id, value: @gone_place.user_id %>
            <%= f.hidden_field :gone_place_id, value: @gone_place.id %>
            <%= f.hidden_field :googlemap_name, value: @gone_place.googlemap_name %>
            <%= f.hidden_field :address, value: @gone_place.address %>
            <%= f.hidden_field :rating, value: @gone_place.rating %>
            <%= f.hidden_field :category_id, value: @gone_place.category_id %>
            <%= f.hidden_field :website, value: @gone_place.website %>
          <% end %>
          <button class="mt-8 mb-8 bg-gray-600 text-gray-100 px-4 py-2 rounded no-outline focus:shadow-outline select-none hover:bg-gray-800 hover:text-gray-300" @click="open = false">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-12 mb-8 text-center">
  <ul class="flex justify-center">
    <li class="mr-8"><%= link_to "訪問済み一覧ページへ", gone_places_path, class: "text-center mx-auto w-1/2 header-btn" %></li>
    <li><%= link_to "編集する", [:edit, @gone_place], class: "header-btn mr-0" %></li>
  </ul>
</div>
