<h3 class="m-6 text-2xl text-gray-600 font-bold text-center">おススメ場所編集</h3>

<%= render "shared/error", obj: @recommend_place %>

<div class="bg-blue-200 rounded p-8 text-center mx-auto w-1/2">
  <%= form_with model: @recommend_place do |f| %>
    <div class="bg-blue-100 m-8 mt-0 pt-8 pb-4">
      <div class="mb-10 text-center mx-auto ml-20 mr-20">
        <%= f.label :recommend_place_name,"登録名", class: "pt-2 block text-gray-700 font-bold mb-2" %>
        <%= f.text_field :recommend_place_name, class: "bg-gray-50 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
      <div class="mb-10 text-center mx-auto ml-20 mr-20">
        <%= f.label :recommend_comment,"おススメコメント", class: "block text-gray-700 font-bold mb-2" %>
        <%= f.text_field :recommend_comment, class: "bg-gray-50 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
      <div class="mb-10 text-center mx-auto ml-20 mr-20">
        <%= f.label :category_id,"カテゴリー選択", class: "block text-gray-700 font-bold mb-2" %>
        <%= f.select :category_id, Category.all.map { |o| [o.name, o.id] }, {}, { class: "bg-gray-50 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" } %>
      </div>
    </div>
    <div class="bg-blue-100 m-8 mt-0 pt-8 pb-8">
      <%= render "shared/google_map_info", place: @recommend_place %>
      <%= render "shared/place_map", place: @gone_place %>
    </div>
    <div class="ml-40 mr-40 text-center">
      <%= f.submit "編集を完了する", class: "w-full bg-blue-500 text-gray-100 hover:bg-blue-700 hover:text-gray-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %>
    </div>
  <% end %>
</div>

<div class="mt-12 mb-8 text-center">
  <ul class="flex justify-center">
    <li class="mr-8"><%= link_to "一覧ページへ", recommend_places_path, class: "text-center mx-auto w-1/2 header-btn" %></li>
    <li><%= link_to "詳細ページへ", @recommend_place, class: "header-btn mr-0" %></li>
  </ul>
</div>
