<h3 class="text-center mb-4 mt-4 text-2xl font-bold text-gray-600 sm:m-4 md:text-3xl">おすすめ場所編集</h3>

<div class="text-center mx-auto mr-4 ml-4 pt-4 pb-4 sm:mr-16 sm:ml-16 sm:pt-8 sm:pb-8 md:mr-32 md:ml-32 lg:mr-64 lg:ml-64">
  <%= render "shared/error", obj: @recommend_place %>
</div>

<div class="bg-blue-200 rounded text-center mx-auto mr-4 ml-4 pt-4 sm:mr-16 sm:ml-16 sm:pt-8 md:mr-32 md:ml-32 lg:mr-64 lg:ml-64">
  <%= form_with model: @recommend_place do |f| %>
    <div class="bg-blue-100 m-4 mt-0 pt-8 pb-4 sm:m-16 sm:mt-0">
      <div class="mb-10 text-center mx-auto mr-2 ml-2 sm:mr-8 sm:ml-8 lg:mr-16 lg:ml-16 xl:mr-32 xl:ml-32">
        <%= f.label :recommend_place_name,"登録名", class: "pt-2 block text-gray-700 font-bold mb-2" %>
        <%= f.text_field :recommend_place_name, class: "bg-gray-50 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
      <div class="mb-10 text-center mx-auto mr-2 ml-2 sm:mr-8 sm:ml-8 lg:mr-16 lg:ml-16 xl:mr-32 xl:ml-32">
        <%= f.label :recommend_comment,"おすすめコメント", class: "block text-gray-700 font-bold mb-2" %>
        <%= f.text_field :recommend_comment, class: "bg-gray-50 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
      <div class="mb-10 text-center mx-auto mr-2 ml-2 sm:mr-8 sm:ml-8 lg:mr-16 lg:ml-16 xl:mr-32 xl:ml-32">
        <%= f.label :category_id,"カテゴリー選択", class: "block text-gray-700 font-bold mb-2" %>
        <%= f.select :category_id, Category.all.map { |o| [o.name, o.id] }, {}, { class: "bg-gray-50 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" } %>
      </div>
    </div>

    <div class="bg-blue-100 m-4 mt-0 pt-8 pb-4 sm:mr-16 sm:ml-16 sm:mb-0 sm:mt-0">
      <%= render "shared/google_map_info", place: @recommend_place %>
      <%= render "shared/place_map", place: @gone_place %>
    </div>

    <div class="text-center mr-4 ml-4 pb-8 pt-8 sm:mr-24 sm:ml-24 md:mr-40 md:ml-40 lg:mr-40 lg:ml-40 xl:mr-72 xl:ml-72">
      <%= f.submit "編集を完了する", class: "w-full bg-blue-500 text-gray-100 hover:bg-blue-700 hover:text-gray-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %>
    </div>
  <% end %>
</div>

<div class="mt-12 mb-8 text-center">
  <ul class="flex justify-center">
    <li class="mr-8"><%= link_to "一覧ページへ", recommend_places_path, class: "text-center mx-auto w-1/2 header-btn text-sm lg:text-base" %></li>
    <li><%= link_to "詳細ページへ", @recommend_place, class: "header-btn mr-0 text-sm lg:text-base" %></li>
  </ul>
</div>
