<h1 class="ml-8 mb-4 mt-4 text-2xl font-bold text-gray-600 sm:m-4 sm:text-center md:text-3xl">投稿したおすすめ場所一覧</h1>
<div id="flash-message">
  <%= render 'shared/flash' %>
</div>

<div class="mx-auto max-w-7xl">
  <div class="ml-8">
    <%= form_with(url: my_post_recommend_places_path, method: :get) do |form| %>
      <%= form.label :search, "フリーワード検索:", class:"text-gray-700" %>
      <%= form.text_field :search, placeholder: "キーワードを入力", class: "bg-gray-100 shadow appearance-none border rounded py-2 px-4 mr-2 ml-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      <%= form.submit "検索", class:"text-gray-100 bg-gray-400 hover:bg-gray-700 hover:text-gray-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue" %>
    <% end %>

    <% if @search_keyword.present? %>
      <p class="search_keyword text-gray-700 mt-2">入力された検索ワード: <%= @search_keyword %></p>
    <% end %>

    <% if @recommend_places_count > 0 %>
      <p class="recommend_places_count text-gray-700 mt-2">表示件数: <%= @recommend_places_count %>件</p>
    <% else %>
      <p class="recommend_places_count text-gray-700 mt-2">該当する結果はありませんでした。</p>
    <% end %>
  </div>

  <div class="mt-4 m-4 ml-8 flex flex-col lg:flex-row">
    <div class="flex justify-start mb-4 items-center">
      <div class="flex">
        <% if params[:sort_param] == 'latest' %>
          <span class="mr-8 bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 md:text-base">新しい順</span>
        <% else %>
          <%= link_to "新しい順", my_post_recommend_places_path(sort_param: 'latest', search: params[:search]), class: "header-btn text-sm md:text-base" %>
        <% end %>

        <% if params[:sort_param] == 'old' %>
          <span class="bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 lg:mr-8 md:text-base">古い順</span>
        <% else %>
          <%= link_to "古い順", my_post_recommend_places_path(sort_param: 'old', search: params[:search]), class: "header-btn text-sm md:text-base" %>
        <% end %>
      </div>
    </div>
    <div class="flex justify-between items-center mb-4">
      <div class="flex">
        <% if params[:sort_param] == 'rating' %>
          <span class="bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 mr-8 md:text-base">評価の高い順</span>
        <% else %>
          <%= link_to "評価が高い順", my_post_recommend_places_path(sort_param: 'rating', search: params[:search]), class: "header-btn text-sm md:text-base" %>
        <% end %>
        <%= link_to "全て表示", my_post_recommend_places_path, class: "header-btn mr-0 text-sm md:text-base" %>
      </div>
      <%# smサイズ以上で表示するリンク %>
      <div class="hidden sm:flex lg:ml-8">
        <%= link_to "他の人のおすすめ一覧へ", recommend_places_path, class: "text-blue-500 underline hover:no-underline hover:text-blue-700 ml-0 text-sm md:text-base sm:mr-8" %>
      </div>
    </div>
    <%# smサイズ未満で表示するリンク %>
    <div class="flex justify-start mb-4 sm:hidden">
      <%= link_to "他の人のおすすめ一覧へ", recommend_places_path, class: "text-blue-500 underline hover:no-underline hover:text-blue-700 ml-0 text-sm" %>
    </div>
  </div>

  <div class="text-gray-800 mb-16 my-post-index">
    <div class="-mx-4 overflow-x-auto mr-2 ml-2 text-sm md:text-base xl:mr-0 xl:ml-0">
      <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-gray-50">
            <tr class="border-b border-gray-200">
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">登録名</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">おすすめコメント</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">カテゴリー</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">googlemapでの評価</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">公式サイト</th>
              <th></th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">
            <% @recommend_places.each do |recommend_place| %>
              <tr id="recommend_place-<%= recommend_place.id %>">
                <td class="px-6 py-4 whitespace-nowrap"><%= link_to recommend_place.recommend_place_name, recommend_place_path(recommend_place), class: "text-gray-800 underline hover:no-underline" %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= recommend_place.recommend_comment %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= recommend_place.category.name %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= recommend_place.rating %></td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <% if recommend_place.website == "websiteはありません" %>
                    websiteはありません
                  <% else %>
                    <%= link_to recommend_place.website, recommend_place.website, target: "_blank", class: "text-blue-500 underline hover:no-underline hover:text-blue-700" %>
                  <% end %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap"><%= link_to "削除", recommend_place, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "text-blue-500 hover:text-blue-700", remote: true %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
