<h3>ユーザー詳細</h3>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
    <th>email</th>
    <td><%= @user.email %></td>
    <th>編集</th>
    <td><%= link_to("編集", "/users/#{@user.id}/edit") %></td>
  </tr>
</table>

<h3>行きたい場所一覧</h3>

<table>
  <thead>
    <tr>
      <th>登録名</th>
      <th>memo</th>
      <th>更新日時</th>
      <th>投稿日時</th>
      <th>投稿者(User_id)</th>
      <th>参照</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.memo %></td>
        <td><%= place.updated_at.to_s(:datetime_jp) %></td>
        <td><%= place.created_at.to_s(:datetime_jp) %></td>
        <td><%= place.user_id %></td>
        <td><%= link_to "参照", place %></td>
        <td><%= link_to "編集", [:edit, place] %></td>
        <td><%= link_to "削除", place, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>訪問済み一覧</h3>

<table>
  <thead>
    <tr>
      <th>登録名</th>
      <th>レビュー</th>
      <th>スコア</th>
      <th>更新日時</th>
      <th>投稿日時</th>
      <th>投稿者(User_id)</th>
      <th>参照</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @gone_places.each do |gone_place| %>
      <tr>
        <td><%= gone_place.name %></td>
        <td><%= gone_place.review %></td>
        <td><%= gone_place.score %></td>
        <td><%= gone_place.updated_at.to_s(:datetime_jp) %></td>
        <td><%= gone_place.created_at.to_s(:datetime_jp) %></td>
        <td><%= gone_place.user_id %></td>
        <td><%= link_to "参照", gone_place %></td>
        <td><%= link_to "編集", [:edit, gone_place] %></td>
        <td><%= link_to "削除", gone_place, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <ul>
    <li><%= link_to "ユーザー情報一覧に戻る", :users %></li>
  </ul>
</div>
