<%= month_calendar events: plans do |date, plans| %>
  <%= date.day %>

  <% plans.each do |plan| %>
    <div class="<%= plan_color_class(plan) %> plan-calendar-<%= plan.id %>">
      <%= link_to plan.plan_name, plan, class: "text-gray-800 hover:opacity-75" %>
    </div>
  <% end %>
<% end %>
