<script type="text/javascript">
  function initMap() {
    let test = {lat: <%= place.latitude %>, lng: <%= place.longitude %>};
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });

    let transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
    let contentString = '名前：<%= place.googlemap_name %>';
    let contentAddress = '住所：<%= place.address %>';
    let contentRating = '評価：<%= place.rating %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString + '<br>' + contentAddress + '<br>' + contentRating
    });

    let marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<style type="text/css">
  #map {
    height: 200px;
    width: 70%;}
</style>

<div class="flex items-center justify-center">
  <div id='map' class="w-1/2 h-64 text-gray-700"></div>
</div>
