<%= form_with model: user do |f| %>
  <table class="w-full max-w-md mx-auto">
    <tr>
      <th class="text-left pb-2">
        <%= f.label :name, "名前", class: "block text-gray-700 font-bold mb-2" %>
      </th>
      <td class="pb-2">
        <%= f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </td>
    </tr>
    <tr>
      <th class="text-left pb-2">
        <%= f.label :email, "メールアドレス", class: "block text-gray-700 font-bold mb-2" %>
      </th>
      <td class="pb-2">
        <%= f.text_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </td>
    </tr>
    <tr>
      <th class="text-left pb-2">
        <%= f.label :password, "パスワード(6文字以上)", class: "block text-gray-700 font-bold mb-2" %>
      </th>
      <td class="pb-2">
        <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </td>
    </tr>
    <tr>
      <th class="text-left pb-2">
        <%= f.label :password_confirmation, "確認用パスワード", class: "block text-gray-700 font-bold mb-2" %>
      </th>
      <td class="pb-2">
        <%= f.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </td>
    </tr>
  </table>
  <div class="text-center">
    <%= f.submit "完了する", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
