<div class="simple-calendar text-gray-800 overflow-auto text-xs sm:text-base">
  <div class="calendar-heading mb-4 mt-2 text-center">
    <div class="flex justify-between items-center">
      <div>
        <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "header-btn ml-4 text-xs sm:text-base sm:ml-8 md:ml-16" %>
      </div>
      <div class="text-center">
        <span class="calendar-title text-gray-600 text-xs font-bold sm:text-base"><%= start_date.year %>年 <%= t('date.month_names')[start_date.month] %></span>
      </div>
      <div>
        <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "header-btn ml-8 mr-4 text-xs sm:text-base sm:mr-8 md:mr-16" %>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-gray-500"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
