<h3 class="text-2xl font-bold mb-4 text-center text-blue-700">行きたい場所編集</h3>

<%= render "shared/error", obj: @plan %>

<%= form_with(model: @plan, local: true, class: "bg-blue-100 p-4 rounded text-center mx-auto w-1/2") do |f| %>
  <div class="mb-10 text-center mx-auto w-1/2">
    <%= f.label :plan_name,"plan_name", class: "block text-gray-700 font-bold mb-2" %>
    <%= f.text_field :plan_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
  </div>
  <div class="mb-10 text-center mx-auto w-1/2">
    <%= f.label :start_time,"開始日時", class: "block text-gray-700 font-bold mb-2" %>
    <%= f.datetime_field :start_time, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
  </div>
  <div class="mb-10 text-center mx-auto w-1/2">
    <%= f.label :end_time,"終了日時", class: "block text-gray-700 font-bold mb-2" %>
    <%= f.datetime_field :end_time, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
  </div>
  <div class="mb-10 text-center mx-auto w-1/2">
    <%= f.label :plan_color,"色分け", class: "block text-gray-700 font-bold mb-2" %>
    <%= f.select :plan_color, [["赤", "red"], ["青", "blue"], ["緑", "green"], ["紫", "purple"], ["黄色", "yellow"]], class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
  </div>

  <div class="mt-4">
    <ul>
      <li><%= f.submit "編集を完了する", class: "text-center mx-auto w-1/2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %></li>
    </ul>
  </div>
<% end %>
