<h3 class="text-2xl font-bold pt-8 pb-8 text-center text-gray-600">この場所を予定に追加する</h3>

<%= render "shared/error", obj: @plan_place %>

<div class="bg-blue-200 rounded p-8 text-center mx-auto w-1/2">
  <div class="bg-blue-100 m-8 mt-0 pt-8 pb-4">
    <div class="mb-10 text-center mx-auto ml-20 mr-20">
      <p class="block text-gray-700 font-bold mb-2">登録名</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @place.name %></p>
    </div>
    <div class="mb-10 text-center mx-auto ml-20 mr-20">
      <p class="block text-gray-700 font-bold mb-2">memo</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @place.memo %></p>
    </div>
    <div class="mb-10 text-center mx-auto ml-20 mr-20">
      <p class="block text-gray-700 font-bold mb-2">カテゴリー</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @place.category.name %></p>
    </div>
  </div>

  <div class="bg-blue-100 m-8 mt-0 pt-8 pb-8">
    <%= render "shared/google_map_info", place: @place %>
    <%= render "shared/place_map", place: @place %>
  </div>

  <h3 class="text-2xl pb-2 font-bold text-center text-gray-600">入力フォーム</h3>
  <%= form_with(model: @plan_place, local: true, method: :post, url: from_place_to_plan_place_create_path, class: "bg-blue-100 mr-8 ml-8 mb-0 rounded text-center") do |f| %>
    <div class="mb-10 ml-40 mr-40 text-center mx-auto">
      <%= f.label :memo,"memo", class: "pt-2 block text-gray-700 font-bold mb-2" %>
      <%= f.text_field :memo, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
    </div>
    <div class="mb-10 ml-40 mr-40 text-center mx-auto">
      <%= f.label :start_time, class: "block text-gray-700 font-bold mb-2" do %>
        訪問予定時刻<br>
        <span class="text-sm">(<%= @plan&.start_time&.strftime("%-m月%-d日%H時%M分") %>〜<%= @plan&.end_time&.strftime("%-m月%-d日%H時%M分") %>の間で設定して下さい)(空白でも可能です)</span>
      <% end %>
      <%= f.datetime_field :start_time, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
    </div>

    <div class="ml-40 mr-40 pb-8 text-center">
      <%= f.submit "登録を完了する", class: "w-full bg-blue-500 text-gray-100 hover:bg-blue-700 hover:text-gray-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %>
    </div>
    <%= f.hidden_field :plan_place_name, value: @place.name %>
    <%= f.hidden_field :latitude, value: @place.latitude %>
    <%= f.hidden_field :longitude, value: @place.longitude %>
    <%= f.hidden_field :place_id, value: @place.id %>
    <%= f.hidden_field :googlemap_name, value: @place.googlemap_name %>
    <%= f.hidden_field :address, value: @place.address %>
    <%= f.hidden_field :rating, value: @place.rating %>
    <%= f.hidden_field :plan_id, value: @plan.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :category_id, value: @place.category_id %>
    <%= f.hidden_field :website, value: @place.website %>
  <% end %>
</div>

<div class="mt-12 mb-8 text-center">
  <ul class="flex justify-center">
    <li><%= link_to "前のページへ戻る", place_and_once_again_place_path, class: "text-center mx-auto w-1/2 header-btn mr-0" %></li>
  </ul>
</div>
