<div class="bg-blue-100 p-4 rounded text-center mx-auto w-1/2">
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">予定名</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @plan.plan_name %></p>
  </div>
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">予定期間</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @plan.start_time&.strftime("%-m月%-d日%H時%M分")%>~<%= @plan.end_time&.strftime("%-m月%-d日%H時%M分")%></p>
  </div>
</div>

<h3 class="text-2xl font-bold mb-4 text-center text-blue-700">この場所を予定に追加する</h3>

<%= render "shared/error", obj: @plan_place %>

<div class="bg-blue-100 p-4 rounded text-center mx-auto w-1/2">
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">登録名</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @once_again_place.name %></p>
  </div>
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">レビュー</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @once_again_place.review %></p>
  </div>
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">スコア</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @once_again_place.score %></p>
  </div>
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">カテゴリー</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @once_again_place.category.name %></p>
  </div>

  <%= render "shared/place_map", place: @once_again_place %>

  <%= form_with(model: @plan_place, local: true, method: :post, url: from_once_again_place_to_plan_place_create_path, class: "bg-blue-100 p-4 rounded text-center mx-auto w-1/2") do |f| %>
    <div class="mb-10 text-center mx-auto w-1/2">
      <%= f.label :memo,"memo", class: "block text-gray-700 font-bold mb-2" %>
      <%= f.text_field :memo, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
    </div>
    <div class="mb-10 mt-10 text-center mx-auto w-1/2">
      <%= f.label :start_time,"訪問予定時刻", class: "block text-gray-700 font-bold mb-2" %>
      <%= f.datetime_field :start_time, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
    </div>

    <div class="mt-4">
      <ul>
        <li><%= f.submit "登録を完了する", class: "text-center mx-auto w-1/2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %></li>
        <li class="mt-20"><%= link_to "予定一覧", plans_path, class: "text-center mx-auto w-1/2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %></li>
      </ul>
    </div>
    <%= f.hidden_field :plan_place_name, value: @once_again_place.name %>
    <%= f.hidden_field :latitude, value: @once_again_place.latitude %>
    <%= f.hidden_field :longitude, value: @once_again_place.longitude %>
    <%= f.hidden_field :gone_place_id, value: @once_again_place.id %>
    <%= f.hidden_field :googlemap_name, value: @once_again_place.googlemap_name %>
    <%= f.hidden_field :address, value: @once_again_place.address %>
    <%= f.hidden_field :rating, value: @once_again_place.rating %>
    <%= f.hidden_field :plan_id, value: @plan.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :category_id, value: @once_again_place.category_id %>
  <% end %>
</div>
