<h1 class="ml-8 mb-4 mt-4 text-2xl font-bold text-gray-600 sm:m-4 sm:text-center md:text-3xl">行きたい場所一覧</h1>

<div class="mx-auto max-w-7xl">
  <div class="mt-4 m-4 ml-8 flex flex-col md:flex-row">
    <div class="flex justify-between items-center mb-4">
      <div class="flex">
        <div class="flex flex-col mr-8">
          <p class="bg-gray-50 text-gray-600 text-center text-sm sm:text-base">タイトル</p>
          <p class="text-center text-xl font-bold text-gray-600 text-sm sm:text-base"><%= @plan.plan_name %></p>
        </div>
        <div class="flex flex-col">
          <p class="bg-gray-50 text-gray-600 text-center text-sm sm:text-base">期間</p>
          <p class="font-bold text-gray-600 text-sm sm:text-base"><%= @plan&.start_time&.strftime("%-m月%-d日 %H:%M") %> 〜 <%= @plan&.end_time&.strftime("%-m月%-d日 %H:%M") %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 m-4 ml-8 flex flex-col md:flex-row">
    <div class="flex justify-start mb-4 items-center">
      <div class="flex">
        <% if params[:sort_param] == 'latest' %>
          <span class="mr-8 bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 sm:text-base">新しい順</span>
        <% else %>
          <%= link_to "新しい順", place_and_once_again_place_path(sort_param: 'latest'), class: "header-btn text-sm sm:text-base" %>
        <% end %>

        <% if params[:sort_param] == 'old' %>
          <span class="bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 md:mr-8 sm:text-base">古い順</span>
        <% else %>
          <%= link_to "古い順", place_and_once_again_place_path(sort_param: 'old'), class: "header-btn text-sm sm:text-base" %>
        <% end %>
      </div>
    </div>
    <div class="flex justify-between items-center mb-4">
      <div class="flex">
        <% if params[:sort_param] == 'rating' %>
          <span class="bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 mr-8 sm:text-base">評価の高い順</span>
        <% else %>
          <%= link_to "評価が高い順", place_and_once_again_place_path(sort_param: 'rating'), class: "header-btn text-sm sm:text-base" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="places text-gray-800 mb-16">
    <div class="-mx-4 overflow-x-auto mr-2 ml-2 text-sm md:text-base xl:mr-0 xl:ml-0">
      <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-gray-50">
            <tr class="border-b border-gray-200">
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">登録名</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">memo</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">カテゴリー</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">googlemapでの評価</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">予定に登録する</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">公式サイト</th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">
            <% @places.each do |place| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%= place.name %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= place.memo %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= place.category.name %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= place.rating %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= link_to "登録する", from_place_to_plan_place_path(place_id: place.id), class: "header-btn" %></td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <% if place.website == "websiteはありません" %>
                    websiteはありません
                  <% else %>
                    <%= link_to place.website, place.website, target: "_blank", class: "text-blue-500 underline hover:no-underline hover:text-blue-700" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h1 class="ml-8 mb-4 mt-4 text-2xl font-bold text-gray-600 sm:m-4 sm:text-center md:text-3xl">もう一度行きたい一覧</h1>

<div class="mx-auto max-w-7xl">
  <div class="mt-4 m-4 ml-8 flex flex-col md:flex-row">
    <div class="flex justify-between items-center mb-4">
      <div class="flex">
        <div class="flex flex-col mr-8">
          <p class="bg-gray-50 text-gray-600 text-center text-sm sm:text-base">タイトル</p>
          <p class="text-center text-xl font-bold text-gray-600 text-sm sm:text-base"><%= @plan.plan_name %></p>
        </div>
        <div class="flex flex-col">
          <p class="bg-gray-50 text-gray-600 text-center text-sm sm:text-base">期間</p>
          <p class="font-bold text-gray-600 text-sm sm:text-base"><%= @plan&.start_time&.strftime("%-m月%-d日 %H:%M") %> 〜 <%= @plan&.end_time&.strftime("%-m月%-d日 %H:%M") %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 m-4 ml-8 flex flex-col md:flex-row">
    <div class="flex justify-start mb-4 items-center">
      <div class="flex">
        <% if params[:sort_param] == 'latest' %>
          <span class="mr-8 bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 sm:text-base">新しい順</span>
        <% else %>
          <%= link_to "新しい順", place_and_once_again_place_path(sort_param: 'latest'), class: "header-btn text-sm sm:text-base" %>
        <% end %>

        <% if params[:sort_param] == 'old' %>
          <span class="bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 md:mr-8 sm:text-base">古い順</span>
        <% else %>
          <%= link_to "古い順", place_and_once_again_place_path(sort_param: 'old'), class: "header-btn text-sm sm:text-base" %>
        <% end %>
      </div>
    </div>
    <div class="flex justify-between items-center mb-4">
      <div class="flex">
        <% if params[:sort_param] == 'score' %>
          <span class="bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 mr-8 sm:text-base">myスコアが高い順</span>
        <% else %>
          <%= link_to "myスコアが高い順", place_and_once_again_place_path(sort_param: 'score'), class: "header-btn text-sm sm:text-base" %>
        <% end %>

        <% if params[:sort_param] == 'rating' %>
          <span class="bg-blue-100 rounded-lg text-sm py-2 px-3 text-gray-700 sm:text-base">評価の高い順</span>
        <% else %>
          <%= link_to "評価が高い順", place_and_once_again_place_path(sort_param: 'rating'), class: "header-btn mr-0 text-sm sm:text-base" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="once-again-places text-gray-800 mb-16">
    <div class="-mx-4 overflow-x-auto mr-2 ml-2 text-sm md:text-base xl:mr-0 xl:ml-0">
      <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-gray-50">
            <tr class="border-b border-gray-200">
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">登録名</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">レビュー</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">myスコア</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">カテゴリー</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">googlemapでの評価</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">予定に登録する</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">公式サイト</th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">
            <% @once_again_places.each do |once_again_place| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%= once_again_place.name %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= once_again_place.review %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= once_again_place.score %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= once_again_place.category.name %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= once_again_place.rating %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= link_to "登録する", from_once_again_place_to_plan_place_path(gone_place_id: once_again_place.id), class: "header-btn" %></td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <% if once_again_place.website == "websiteはありません" %>
                    websiteはありません
                  <% else %>
                    <%= link_to once_again_place.website, once_again_place.website, target: "_blank", class: "text-blue-500 underline hover:no-underline hover:text-blue-700" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="mt-12 mb-8 text-center">
  <div class="flex justify-center">
    <%= link_to "予定詳細ページに戻る", @plan, class: "header-btn mr-0 text-sm lg:text-base" %>
  </div>
</div>
