<div class="mb-10 mt-10 bg-blue-100 p-4 rounded text-center mx-auto w-1/2">
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">予定名</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @plan.plan_name %></p>
  </div>
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">予定期間</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @plan.start_time&.strftime("%-m月%-d日%H時%M分")%>~<%= @plan.end_time&.strftime("%-m月%-d日%H時%M分")%></p>
  </div>
</div>

<h3 class="text-2xl font-bold mb-4 text-center text-blue-700">行きたい場所一覧</h3>

<div class="m-5">
  <% if params[:sort_param] == 'latest' %>
    <span class="mr-5 bg-blue-100 rounded-lg py-2 px-4">新しい順</span>
  <% else %>
    <%= link_to "新しい順", place_and_once_again_place_path(sort_param: 'latest'), class: "header-btn" %>
  <% end %>

  <% if params[:sort_param] == 'old' %>
    <span class="mr-5 bg-blue-100 rounded-lg py-2 px-4">古い順</span>
  <% else %>
    <%= link_to "古い順", place_and_once_again_place_path(sort_param: 'old'), class: "header-btn" %>
  <% end %>

  <% if params[:sort_param] == 'rating' %>
    <span class="bg-blue-100 rounded-lg py-2 px-4">評価の高い順</span>
  <% else %>
    <%= link_to "評価が高い順", place_and_once_again_place_path(sort_param: 'rating'), class: "header-btn" %>
  <% end %>
</div>

<table class="mb-10 p-4 rounded text-center w-full">
  <thead>
    <tr class="bg-blue-100">
      <th class="px-4 py-2 border border-blue-500">登録名</th>
      <th class="px-4 py-2 border border-blue-500">memo</th>
      <th class="px-4 py-2 border border-blue-500">googlemapでの正式名称</th>
      <th class="px-4 py-2 border border-blue-500">住所</th>
      <th class="px-4 py-2 border border-blue-500">googlemapでの評価</th>
      <th class="px-4 py-2 border border-blue-500">予定に登録する</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr class="border-t border-blue-500">
        <td class="px-4 py-2 border border-blue-500"><%= place.name %></td>
        <td class="px-4 py-2 border border-blue-500"><%= place.memo %></td>
        <td class="px-4 py-2 border border-blue-500"><%= place.googlemap_name %></td>
        <td class="px-4 py-2 border border-blue-500"><%= place.address %></td>
        <td class="px-4 py-2 border border-blue-500"><%= place.rating %></td>
        <td class="px-4 py-2 border border-blue-500"><%= link_to "登録する", from_place_to_plan_place_path(place_id: place.id), class: "header-btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="text-2xl font-bold mb-4 text-center text-blue-700">もう一度行きたい一覧</h3>

<div class="m-5">
  <% if params[:sort_param] == 'latest' %>
    <span class="mr-5 bg-blue-100 rounded-lg py-2 px-4">新しい順</span>
  <% else %>
    <%= link_to "新しい順", place_and_once_again_place_path(sort_param: 'latest'), class: "header-btn" %>
  <% end %>

  <% if params[:sort_param] == 'old' %>
    <span class="mr-5 bg-blue-100 rounded-lg py-2 px-4">古い順</span>
  <% else %>
    <%= link_to "古い順", place_and_once_again_place_path(sort_param: 'old'), class: "header-btn" %>
  <% end %>

  <% if params[:sort_param] == 'score' %>
    <span class="mr-5 bg-blue-100 rounded-lg py-2 px-4">スコアが高い順</span>
  <% else %>
    <%= link_to "スコアが高い順", place_and_once_again_place_path(sort_param: 'score'), class: "header-btn" %>
  <% end %>

  <% if params[:sort_param] == 'rating' %>
    <span class="bg-blue-100 rounded-lg py-2 px-4">評価の高い順</span>
  <% else %>
    <%= link_to "評価が高い順", place_and_once_again_place_path(sort_param: 'rating'), class: "header-btn" %>
  <% end %>
</div>

<table class="mb-10 p-4 rounded text-center mx-auto w-full">
  <thead>
    <tr class="bg-blue-100">
      <th class="px-4 py-2 border border-blue-500">登録名</th>
      <th class="px-4 py-2 border border-blue-500">レビュー</th>
      <th class="px-4 py-2 border border-blue-500">スコア</th>
      <th class="px-4 py-2 border border-blue-500">googlemapでの正式名称</th>
      <th class="px-4 py-2 border border-blue-500">住所</th>
      <th class="px-4 py-2 border border-blue-500">googlemapでの評価</th>
      <th class="px-4 py-2 border border-blue-500">予定に登録する</th>
    </tr>
  </thead>

  <tbody>
    <% @once_again_places.each do |once_again_place| %>
      <tr class="border-t border-blue-500">
        <td class="px-4 py-2 border border-blue-500"><%= once_again_place.name %></td>
        <td class="px-4 py-2 border border-blue-500"><%= once_again_place.review %></td>
        <td class="px-4 py-2 border border-blue-500"><%= once_again_place.score %></td>
        <td class="px-4 py-2 border border-blue-500"><%= once_again_place.googlemap_name %></td>
        <td class="px-4 py-2 border border-blue-500"><%= once_again_place.address %></td>
        <td class="px-4 py-2 border border-blue-500"><%= once_again_place.rating %></td>
        <td class="px-4 py-2 border border-blue-500"><%= link_to "登録する", from_once_again_place_to_plan_place_path(gone_place_id: once_again_place.id), class: "header-btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flex justify-center">
  <%= link_to "予定詳細に戻る", :back, class: "mb-10 inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md font-semibold text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
</div>
