<h1 class="m-4 text-3xl font-bold text-gray-600 text-center">予定詳細</h1>
<div id="flash-message">
  <%= render 'shared/flash' %>
</div>

<div class="mx-auto max-w-7xl">
  <div class="mt-4 ml-8 mb-4 flex justify-between items-center">
    <div class="flex">
      <p class="mr-8">タイトルを表示する予定</p>
      <p>期間を表示する予定</p>
    </div>
    <div id="modal" x-data="{ open: false }">
      <button class="create-btn mt-2 mb-2" @click="open = true">訪問予定場所を追加する</button>
      <div id="exampleModal" class="absolute top-0 left-0 w-full min-h-screen items-center justify-center bg-black bg-opacity-50 z-50" x-show="open">
        <div class="mt-12 rounded text-center mx-auto w-1/2" @click.away="open = false">
          <div class="bg-gray-100 justify-center mb-32">
            <h3 class="text-2xl font-bold pt-8 pb-8 text-center text-gray-600">訪問予定場所新規登録</h3>
            <div class="mb-10 text-center">
              <p class="text-gray-700 font-bold mb-5">行きたい場所、もう一度行きたい場所から登録する</p>
              <%= link_to "行きたい場所一覧へ", place_and_once_again_place_path(@plan), class: "py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded" %>
              <div class="bg-blue-100 m-8 mt-0">
                <%= render "shared/register_place_map", place: @plan_place %>
              </div>

              <%= form_with(model: @plan_place, local: false, class: "bg-blue-100 m-8 mb-0 rounded text-center") do |f| %>
                <div class="mb-10 ml-40 mr-40 text-center mx-auto">
                  <%= f.label :plan_place_name,"登録名", class: "pt-2 block text-gray-700 font-bold mb-2" %>
                  <%= f.text_field :plan_place_name, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
                </div>
                <div class="mb-10 ml-40 mr-40 text-center mx-auto">
                  <%= f.label :memo,"memo", class: "block text-gray-700 font-bold mb-2" %>
                  <%= f.text_field :memo, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
                </div>
                <div class="mb-10 ml-40 mr-40 text-center mx-auto">
                  <%= f.label :start_time, class: "block text-gray-700 font-bold mb-2" do %>
                  訪問予定時刻<br>
                    <span class="text-sm">
                      (<%= @plan&.start_time&.strftime("%-m月%-d日%H時%M分") %>〜<%= @plan&.end_time&.strftime("%-m月%-d日%H時%M分") %>の間で設定して下さい)
                    </span>
                  <% end %>
                  <%= f.datetime_field :start_time, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
                </div>
                <div class="mb-10 ml-40 mr-40 text-center mx-auto">
                  <%= f.label :category_id,"カテゴリー選択", class: "block text-gray-700 font-bold mb-2" %>
                  <%= f.select :category_id, Category.all.map{|o| [o.name, o.id]}, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
                </div>

                <div class="comments-error w-full">
                  <%= render "shared/error", obj: @plan_place %>
                </div>

                <div class="ml-40 mr-40 pb-8 text-center">
                  <%= f.submit "登録を完了する", class: "w-full bg-blue-500 text-gray-100 hover:bg-blue-700 hover:text-gray-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %>
                </div>
                <%= f.hidden_field :latitude,:value => nil, id: :lat %>
                <%= f.hidden_field :longitude,:value => nil, id: :lng %>
                <%= f.hidden_field :user_id, value: @user.id %>
                <%= f.hidden_field :plan_id, value: @plan.id %>
                <%= f.hidden_field :googlemap_name, value: '', id: :name %>
                <%= f.hidden_field :address, value: '', id: :formatted_address %>
                <%= f.hidden_field :rating, value: '', id: :rating %>
                <%= f.hidden_field :website, value: '', id: :website %>
              <% end %>
              <button class="mt-8 mb-8 bg-gray-600 text-gray-100 px-4 py-2 rounded no-outline focus:shadow-outline select-none hover:bg-gray-800 hover:text-gray-300" @click="open = false">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="plan_places text-gray-800 mb-16">
    <%= render "shared/plan_places", plan_places: @plan_places %>
  </div>
</div>

<div class="mt-12 mb-8 text-center">
  <ul class="flex justify-center">
    <li class="mr-8"><%= link_to "予定一覧に戻る", plans_path, class: "text-center mx-auto w-1/2 header-btn" %></li>
    <li><%= link_to "編集する", [:edit, @plan], class: "header-btn mr-0" %></li>
  </ul>
</div>
