<h3 class="text-2xl font-bold mb-4 text-center text-blue-700">予定詳細</h3>

  <% if flash[:notice] %>
    <p class="text-center bg-blue-100 text-blue-700 py-2 px-4 rounded-md mb-4"><%= flash[:notice] %></p>
  <% end %>

<div class="bg-blue-100 p-4 rounded text-center mx-auto w-1/2">
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">予定名</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @plan.plan_name %></p>
  </div>
  <div class="mb-10 text-center mx-auto w-1/2">
    <p class="block text-gray-700 font-bold mb-2">時間</p>
    <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @plan.start_time&.strftime("%-m月%-d日%H時%M分")%>~<%= @plan.end_time&.strftime("%-m月%-d日%H時%M分")%></p>
  </div>

    <table class="table-auto bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
    <thead>
      <tr>
        <th class="px-4 py-2">開始</th>
        <th class="px-4 py-2"><%= @plan.start_time&.strftime("%-m月%-d日%-H時%M分") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2">10:00</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2">11:00</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2">12:00</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2">13:00</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2">14:00</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2">15:00</td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr>
        <td class="border px-4 py-2">16:00</td>
        <td class="border px-4 py-2"></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th class="px-4 py-2">終了</th>
        <th class="px-4 py-2"><%= @plan.end_time&.strftime("%-m月%-d日%-H時%M分") %></th>
      </tr>
    </thead>
  </table>
</div>
<ul>
  <li><%= link_to "予定一覧", plans_path, class: "text-center mx-auto w-1/2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %></li>
</ul>
