<h1 class="m-6 text-2xl text-gray-600 font-bold text-center">行きたい場所編集</h1>

<%= render "shared/error", obj: @place %>

<div class="bg-blue-200 rounded p-8 text-center mx-auto w-1/2">
  <%= form_with model: @place do |f| %>
    <div class="bg-blue-100 m-8 mt-0 pt-8 pb-4">
      <div class="mb-10 text-center mx-auto ml-20 mr-20">
        <%= f.label :name,"登録名", class: "pt-2 block text-gray-700 font-bold mb-2" %>
        <%= f.text_field :name, class: "bg-gray-50 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
      <div class="mb-10 text-center mx-auto ml-20 mr-20">
        <%= f.label :memo,"memo", class: "block text-gray-700 font-bold mb-2" %>
        <%= f.text_field :memo, class: "bg-gray-50 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
      </div>
      <div class="mb-10 text-center mx-auto ml-20 mr-20">
        <%= f.label :category_id,"カテゴリー選択", class: "block text-gray-700 font-bold mb-2" %>
        <%= f.select :category_id, Category.all.map { |o| [o.name, o.id] }, {}, { class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" } %>
      </div>
    </div>
    <div class="bg-blue-100 m-8 mt-0 pt-8 pb-8">
      <%= render "shared/register_place_map", place: @place %>
      <%= render "shared/google_map_info", place: @place %>
    </div>
    <div class="ml-40 mr-40 text-center">
      <%= f.submit "登録を完了する", class: "w-full bg-blue-500 text-gray-100 hover:bg-blue-700 hover:text-gray-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %>
    </div>
    <%= f.hidden_field :latitude,:value => @place.latitude, id: :lat %>
    <%= f.hidden_field :longitude,:value => @place.longitude, id: :lng %>
    <%= f.hidden_field :googlemap_name, :value => @place.googlemap_name, id: :name %>
    <%= f.hidden_field :address, :value => @place.address, id: :formatted_address %>
    <%= f.hidden_field :rating, :value => @place.rating, id: :rating %>
    <%= f.hidden_field :website, :value => @place.website, id: :website %>
  <% end %>
</div>

<div class="mt-12 mb-8 text-center">
  <ul class="flex justify-center">
    <li class="mr-8"><%= link_to "一覧に戻る", places_path, class: "text-center mx-auto w-1/2 header-btn" %></li>
    <li><%= link_to "詳細ページへ", @place, class: "header-btn mr-0" %></li>
  </ul>
</div>
