<h1 class="text-center mb-4 mt-4 text-2xl font-bold text-gray-600 sm:m-4 md:text-3xl">行きたい場所詳細</h1>
<div id="flash-message">
  <%= render 'shared/flash' %>
</div>

<div class="bg-blue-200 rounded text-center mx-auto mr-4 ml-4 pt-4 sm:mr-16 sm:ml-16 sm:pt-8 md:mr-32 md:ml-32 lg:mr-64 lg:ml-64">
  <div class="bg-blue-100 m-4 mt-0 pt-8 pb-4 sm:m-16 sm:mt-0">
    <div class="mb-10 text-center mx-auto mr-2 ml-2 sm:mr-8 sm:ml-8 lg:mr-16 lg:ml-16 xl:mr-32 xl:ml-32">
      <p class="block text-gray-700 font-bold mb-2">登録名</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @place.name %></p>
    </div>
    <div class="mb-10 text-center mx-auto mr-2 ml-2 sm:mr-8 sm:ml-8 lg:mr-16 lg:ml-16 xl:mr-32 xl:ml-32">
      <p class="block text-gray-700 font-bold mb-2">memo</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @place.memo %></p>
    </div>
    <div class="mb-10 text-center mx-auto mr-2 ml-2 sm:mr-8 sm:ml-8 lg:mr-16 lg:ml-16 xl:mr-32 xl:ml-32">
      <p class="block text-gray-700 font-bold mb-2">カテゴリー</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @place.category.name %></p>
    </div>
  </div>

  <div class="bg-blue-100 m-4 mt-0 pt-8 pb-4 sm:mr-16 sm:ml-16 sm:mb-0 sm:mt-0">
    <%= render "shared/google_map_info", place: @place %>
    <%= render "shared/place_map", place: @place %>
  </div>

  <div id="modal" x-data="{ open: false }">
    <% if @place.visited %>
      <div class="mt-0 pt-8 pb-8 pr-2 pl-2">
        <p class="bg-yellow-200 block text-gray-700 font-bold text-sm lg:text-base">この場所はすでに訪問済み場所へ登録しています</p>
      </div>
    <% else %>
      <div class="mt-0 pt-8 pb-8 pr-2 pl-2">
        <button class="create-btn text-sm lg:text-base" @click="open = true; window.scrollTo({ top: 0, behavior: 'smooth' })">訪問済みに登録</button>
      </div>
    <% end %>
    <div id="exampleModal" class="absolute top-0 left-0 w-full min-h-screen justify-center bg-black bg-opacity-50 z-50 xl:flex xl:items-center" x-show="open">
      <div class="mt-12 rounded text-center mx-auto mb-32 mr-4 ml-4 md:mr-16 md:ml-16 lg:mr-40 lg:ml-40 xl:w-1/2" @click.away="open = false">
        <div class="bg-gray-100 justify-center">
          <h3 class="text-2xl font-bold pt-8 pb-8 text-center text-gray-600">訪問済みに登録</h3>

          <div class="bg-blue-100 m-4 mt-0 pt-8 pb-4">
            <div class="mb-10 text-center mx-auto mr-2 ml-2">
              <p class="block text-gray-700 font-bold mb-2">登録名</p>
              <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @place.name %></p>
            </div>
            <div class="mb-10 text-center mx-auto mr-2 ml-2">
              <p class="block text-gray-700 font-bold mb-2">memo</p>
              <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @place.memo %></p>
            </div>
            <div class="mb-10 text-center mx-auto mr-2 ml-2">
              <p class="block text-gray-700 font-bold mb-2">カテゴリー</p>
              <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @place.category.name %></p>
            </div>
          </div>
          <div class="bg-blue-100 m-4 mt-0 pt-8 pb-4">
            <%= render "shared/google_map_info", place: @place %>
          </div>
          <h3 class="text-2xl pb-2 font-bold text-center text-gray-600">入力フォーム</h3>
          <%= form_with model: @gone_place, class: "bg-blue-100 m-4 mt-0 pt-8 pb-4", local: false do |f| %>
            <div class="text-center mb-10 mr-4 ml-4 sm:mr-24 sm:ml-24 md:mr-40 md:ml-40 lg:mr-56 lg:ml-56 xl:mr-40 xl:ml-40">
              <%= f.label :review,"レビュー", class: "pt-2 block text-gray-700 font-bold mb-2" %>
              <%= f.text_field :review, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
            </div>
            <div class="text-center mb-10 mr-4 ml-4 sm:mr-24 sm:ml-24 md:mr-40 md:ml-40 lg:mr-56 lg:ml-56 xl:mr-40 xl:ml-40">
              <%= f.label :score, "myスコア (1~10点)", class: "block text-gray-700 font-bold mb-2" %>
              <%= f.number_field :score, in: 1..10, class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" %>
            </div>
            <div class="text-center mb-10 mr-4 ml-4 sm:mr-24 sm:ml-24 md:mr-40 md:ml-40 lg:mr-56 lg:ml-56 xl:mr-40 xl:ml-40">
              <%= f.label :category_id,"カテゴリー選択", class: "block text-gray-700 font-bold mb-2" %>
              <%= f.select :category_id, Category.all.map { |o| [o.name, o.id] }, {}, { class: "bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300" } %>
            </div>

            <div class="comments-error w-full text-sm md:text-base">
               <%= render "shared/error", obj: @gone_place %>
            </div>

            <div class="text-center mr-4 ml-4 pb-8 sm:mr-24 sm:ml-24 md:mr-40 md:ml-40 lg:mr-56 lg:ml-56 xl:mr-40 xl:ml-40">
              <%= f.submit "登録を完了する", class: "w-full bg-blue-500 text-gray-100 hover:bg-blue-700 hover:text-gray-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue focus:bg-blue-600" %>
            </div>
            <%= f.hidden_field :user_id, value: @place.user_id %>
            <%= f.hidden_field :place_id, value: @place.id %>
            <%= f.hidden_field :name, value: @place.name %>
            <%= f.hidden_field :latitude, value: @place.latitude %>
            <%= f.hidden_field :longitude, value: @place.longitude %>
            <%= f.hidden_field :googlemap_name, value: @place.googlemap_name %>
            <%= f.hidden_field :address, value: @place.address %>
            <%= f.hidden_field :rating, value: @place.rating %>
            <%= f.hidden_field :category_id, value: @place.category_id %>
            <%= f.hidden_field :website, value: @place.website%>
          <% end %>
          <button class="mt-8 mb-8 bg-gray-600 text-gray-100 px-4 py-2 rounded no-outline focus:shadow-outline select-none hover:bg-gray-800 hover:text-gray-300" @click="open = false">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-12 mb-8 text-center">
  <ul class="flex justify-center">
    <li class="mr-8"><%= link_to "行きたい場所一覧ページへ", places_path, class: "text-center mx-auto w-1/2 header-btn text-sm lg:text-base" %></li>
    <li><%= link_to "編集する", [:edit, @place], class: "header-btn mr-0 text-sm lg:text-base" %></li>
  </ul>
</div>
