<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= render "shared/header", current_user: @current_user %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
